body {
  font-family: 'Roboto', sans-serif; /* Main site text */
  margin: 0;
  padding: 0;
  background: #F5FBFF;
  color: #333;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: #191b32;
  font-size: 28px;
}
#titleSection{
  margin-top: 100px; 
}

#tableHeader > .container {
  background-color: #eee;
  font-weight: bold;
  padding: 10px 0;
}

#tableBody > .container, #formBody > .container {
  background-color: #ffffff;
}
#addProductForm, #loginForm {
  margin-top: 100px;
}
.navbar{
  padding: 8px 0;
  background: #191b32;
}
.navbar-brand{
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  padding-top: 0;
  margin-top: 0;
}
.navbar-brand span {
  color: #1d70b8;
}

/* NAVBAR */
.custom-navbar {
  background: #191b32;
  padding: 12px 0;
  font-family: 'Montserrat', sans-serif;
}
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}
/* LINKS */
.navbar-nav .nav-link {
  color: #fff!important;
  margin: 0 10px;
  font-weight: 500;
}
.nav-link small {
  color: #ffffff;
}
.nav-link i {
  color: #fff;
  font-size: 18px;
}
.navbar-nav .nav-link:hover {
  color: #1d70b8;
}

/* MEGA MENU */
.mega-menu {
  background: #191b32;
  border: none;
  border-radius: 0;
  margin-top: 0!important;
  padding: 25px 0;
}

/* TITLE */
.mega-title a {
  color: #fff;
  font-weight: 800;
  text-decoration: underline;
  display: block;
  margin-bottom: 10px;
}

/* ITEMS */
.dropdown-item {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  padding: 3px 0;
}

.dropdown-item:hover {
  color: #1d70b8;
  background: transparent;
}

/* SUB ITEMS */
.sub-item {
  padding-left: 15px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

/* FIX GAP */
.navbar .dropdown-menu {
  top: 100%;
}
:root {
  --navbar-height: 80px;

  --color-dark: #191b32;
  --color-accent: #1d70b8;
  --color-cta: #00bcd4;
  --color-cta-hover: #0097a7;
}

/* FIX HEADER OVERLAP */
body {
  padding-top: var(--navbar-height);
}

/* HERO */
.hero {
  height: 70vh;
  background: url('../img/hero.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

/* OVERLAY */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* CONTENT */
.hero-content {
  position: relative;
  color: #fff;
  max-width: 500px;
  margin-left: 80px;
  z-index: 2;
}

/* TEXT */
.hero h1 {
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.hero p {
  margin: 15px 0 25px;
  font-size: 18px;
}

/* BUTTON */
.hero-btn {
  background: var(--color-cta);
  color: #fff;
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.hero-btn:hover {
  background: var(--color-cta-hover);
}

/* MOBILE */
@media (max-width: 991px) {
  .mega-menu {
    position: static !important;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 60vh;
  }

  .hero-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero h1 {
    font-size: 28px;
  }
}

/* MOBILE MENU */
.mobile-menu {
  width: 80%;
  background: #191b32;
  color: #fff;
}

/* HEADER */
.offcanvas-header {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.offcanvas-title {
  font-family: 'Montserrat';
}

/* LINKS */
.mobile-link {
  display: block;
  color: #fff;
  padding: 12px 0;
  text-decoration: none;
  font-size: 16px;
}

.mobile-link:hover {
  color: #1d70b8;
}

/* CATEGORY */
.mobile-category {
  margin-bottom: 10px;
}

/* BUTTON */
.mobile-cat-btn {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  padding: 12px 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SUB ITEMS */
.mobile-sub {
  display: block;
  padding: 6px 0 6px 15px;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.mobile-sub:hover {
  color: #1d70b8;
}