body {
  font-family: 'Roboto', sans-serif; /* Main site text */
  margin: 0!important;
  padding: 0!important;
  background: #F5FBFF;
  color: #333;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #191b32;
  font-size: 32px;
}
h2, h2.section-title {
  font-family: 'Montserrat', sans-serif;
  color: #191b32;
  font-size: 28px;
}
a {
  text-decoration: none;
}
#tableHeader > .container {
  background-color: #eee;
  font-weight: bold;
  padding: 10px 0;
}
#tableBody > .container, #formBody > .container {
  background-color: #ffffff;
}
#addProductForm, #loginForm {
  margin-top: 100px;
}
.navbar{
  padding: 8px 0;
  background: #191b32;
}
.navbar-brand{
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  padding-top: 0;
  margin-top: 0;
}
.logo-accent {
  color: #1d70b8;
}
/* NAVBAR */
.custom-navbar {
  background: #191b32;
  padding: 12px 0;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
/* LINKS */
.navbar-nav .nav-link {
  color: #fff!important;
  margin: 0 10px;
  font-weight: 500;
}
.nav-link small {
  color: #ffffff;
}
.nav-link i {
  color: #fff;
  font-size: 18px;
}
.navbar-nav .nav-link:hover {
  color: #1d70b8;
}
/* MEGA MENU */
.mega-menu {
  background: #191b32;
  border: none;
  border-radius: 0;
  margin-top: 0!important;
  padding: 25px 0;
}
/* TITLE */
.mega-title a {
  color: #fff;
  font-weight: 800;
  text-decoration: underline;
  display: block;
  margin-bottom: 10px;
}
/* ITEMS */
.dropdown-item {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  padding: 3px 0;
}
.dropdown-item:hover {
  color: #1d70b8;
  background: transparent;
}
/* SUB ITEMS */
.sub-item {
  padding-left: 15px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}
/* FIX GAP */
.navbar .dropdown-menu {
  top: 100%;
}
:root {
  --navbar-height: 80px;

  --color-dark: #191b32;
  --color-accent: #1d70b8;
  --color-cta: #00bcd4;
  --color-cta-hover: #0097a7;
}
/* FIX HEADER OVERLAP */
body {
  padding-top: var(--navbar-height);
  margin: 0;
}
/* HERO */
.hero {
  height: 70vh;
  background: url('../img/hero.jpg') center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}
/* OVERLAY */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.2) 100%,
  );
}
/* CONTENT */
.hero-content {
  position: relative;
  color: #fff;
  max-width: 500px;
  margin-left: 80px;
  z-index: 2;
}
/* TEXT */
.hero h1 {
  font-size: 52px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  margin-top: 0;
  font-weight: 600;
  color: #ffffff;
}
.hero p {
  margin: 15px 0 25px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);

}
/* BUTTON */
.hero-btn {
  background: var(--color-cta);
  color: #fff;
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.hero-btn:hover {
  background: var(--color-cta-hover);
   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}
.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  color: #191b32;
}
.category-hero {
  position: relative;
  height: 450px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.category-hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-hero h1 {
  font-size: 52px;
}
.category-hero h1, .category-hero p {
  color: #ffffff;
}
.category-hero .overlay .container {
  padding: 0 15px;
}

/* CATEGORY */
.category-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 180px;
  border: 1px solid #eee;
  transition: all 0.25s ease;
}
.category-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.category-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.category-box:hover img {
  transform: scale(1.05);
}

.category-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(25,27,50,0.6);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.category-overlay h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
/* PRODUCT */
.product-card {
  background: #fff;
  border-radius: 10px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #eee;
  transition: all 0.25s ease;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* IMAGE */
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}

.product-card:hover img {
  transform: scale(1.03);
}

/* CONTENT */
.product-card .p-2 {
  padding: 10px;
}

/* BRAND */
.product-brand {
  font-size: 12px;
  font-weight: 600;
  color: #1d70b8;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

/* TITLE */
.product-card h6 {
  font-size: 15px;
  margin: 5px 0;
  color: #191b32;
}
.product-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* RATING */
.rating {
  color: #f5b50a;
  font-size: 16px;
  margin-bottom: 3px;
  text-align: right;
}

/* PRICE */
.price {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-top: 4px;
  text-align: right;
}
.quantity-group {
    border: 1px solid #ddd;
    width: 140px;
    border-radius: 8px;
    overflow: hidden;
}

.quantity-group .btn {
    border: none;
    background: #f8f9fa;
}

.quantity-group .form-control {
    border: none;
}
/* BUTTON */
.btn-buy {
  width: 100%;
  background: #1d70b8;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 6px;
  margin-top: 8px;
  transition: 0.2s;
  font-weight: 600;
  font-size: 14px;
}

.btn-buy:hover {
  background: #155a94;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  margin-bottom: 25px;
  color: #191b32;
  text-align: center;
}

/* BRANDS */
.brand-logo {
  max-height: 150px;
  transition: 0.3s;
}

.brand-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* image */
.brand-item img {
  max-height: 150px;
  max-width: 100%;
  object-fit: contain;
  transition: 0.3s;
  z-index: 1;
}

.brand-item:hover img {
  transform: scale(1.05);
}
/* ICONS */
.fa-2x {
  color: #1d70b8;
}
.btn-buy-cta {
  width: auto;         
  display: inline-block;
  background: var(--color-cta);
  color: #fff;
  margin-left: auto;
  display: block;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.btn-buy-cta:hover {
  background: var(--color-cta-hover);
}
#footer {
  background: #191b32;
  color: #ffffff;
}
/* MOBILE */
@media (max-width: 991px) {
  .mega-menu {
    position: static !important;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 60vh;
  }

  .hero-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero h1 {
    font-size: 28px;
  }
}

/* MOBILE MENU */
.mobile-menu {
  width: 80%;
  background: #191b32;
  color: #fff;
}

/* HEADER */
.offcanvas-header {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.offcanvas-title {
  font-family: 'Montserrat';
}

/* LINKS */
.mobile-link {
  display: block;
  color: #fff;
  padding: 12px 0;
  text-decoration: none;
  font-size: 16px;
}

.mobile-link:hover {
  color: #1d70b8;
}

/* CATEGORY */
.mobile-category {
  margin-bottom: 10px;
}

/* BUTTON */
.mobile-cat-btn {
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  padding: 12px 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SUB ITEMS */
.mobile-sub {
  display: block;
  padding: 6px 0 6px 15px;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.mobile-sub:hover {
  color: #1d70b8;
}