body {
  font-family: 'Roboto', sans-serif; /* Main site text */
  margin: 0;
  padding: 0;
  background: #F5FBFF;
  color: #333;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: #191b32;
  font-size: 28px;
}
#titleSection{
  margin-top: 100px; 
}

#tableHeader > .container {
  background-color: #eee;
  font-weight: bold;
  padding: 10px 0;
}

#tableBody > .container, #formBody > .container {
  background-color: #ffffff;
}
#addProductForm, #loginForm {
  margin-top: 100px;
}
.navbar{
  background: #191b32;
}
.navbar-brand{
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
}
.navbar-brand span {
  color: #1d70b8;
}
.item-row {
  position: relative;
}

.item-row::after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  border-bottom: 1px solid #B7B7B7;
}
.product-img{
  width: 80px;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.hidden {
  display: none;
}

.login-page {
    min-height: calc(100vh - var(--navbar-height, 70px));
    padding: 2rem 1rem;
}